#container {
    position: relative;
    display: block;
}

#inner {
    display: block;
    position: relative;

    margin-left: -30%;
    margin-right: -30%;
    padding: 1px;
}

#left {
    float: left;
    position: relative;
    width: 37%;
    left: 0px;
}

#right {
    float: right;
    position: relative;
    width: 37%;
    right: 0px;
}

#center {
    margin: 0 30% 0 37%;

    position: relative;
    display: block;
    height: 1%;
}

#centerLeft {
    margin: 0px 0 0 30%;
    position: relative;
    display: block;
    height: 1%;
}

#centerRight {
    margin: 0px 0 0px 50%;
    /*text-decoration-line:  line-through;*/
    text-align: left;

    display: block;
    height: 1%;
}

#centerRight .operationCenterRight
{
    margin-left: -150px;
}

.clear {
    clear: both;
}

.deleteButton{
    width: 25px;
    text-align: right;
}

.deleteButton a{
    color: red;
}



#addOperationTable {
    margin-top: 20px;
    margin-left: 20px;
    -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    font-family: Arial;
    font-size: small;
}

.profit {
    color: green;
    font-size: 15pt;
}

.charges {
    color: crimson;
    font-size: 15pt;
}

.operationsHeader, .headerRow {
    font-size: large;
    font-family: Helvetica;
    font-weight: lighter;
    border-width: 1px;
    border: lightblue;
    border-bottom: double;
}

.commentCell, .operationIdCell {
    border: 1px lightcoral;
}

.commentCell {
    border-left: 1px;
}

.idCell {
    width: 30px;
    text-align: right;
    padding-right: 7px;
}

.data
{
    padding-bottom: 50px;
    /*margin-top: 10px;*/
    margin-bottom: 35px;

}